.App {
  height: 100vh;
}

.button-a {
  color: white !important;
  background-color: #46139f !important;
}

.button-b {
  color: white !important;
  background-color: #ff7f50 !important;
}

.button-c {
  border-color: #46139f !important;
  background-color: white !important;
  color: #46139f !important;
}